@import '../../styles/styles';

.button {
    border: 1px solid transparent;
    border-radius: 4px;
    background: $color-black;
    color: $color-white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    user-select: none;
    overflow: hidden;

    @media (hover: hover) {
        &:hover {
            background: lighten($color: $color-black, $amount: 25);
        }
    }

    &.is-inactive {
        background: $color-white !important;
        border: 1px solid $color-black;
        color: $color-black;
        cursor: auto;
    }
}