@import 'config';

.tile-text {
    font-size: 80px;
    font-weight: bold;
    fill: $color-black;
    dominant-baseline: central;
    text-anchor: middle;
    pointer-events: none;

    .is-move.is-red &,
    .is-ship.is-red & {
        fill: $color-red;
    }

    .is-move.is-purple &,
    .is-ship.is-purple & {
        fill: $color-purple;
    }

    .is-move.is-orange &,
    .is-ship.is-orange & {
        fill: $color-orange;
    }

    .is-move.is-green &,
    .is-ship.is-green & {
        fill: $color-green;
    }
}