@import 'config';

.tile-icon {
    pointer-events: none;

    .is-switch.is-red &,
    .is-move.is-red &,
    .is-ship.is-red & {
        fill: $color-red;

        .is-colorblind & {
            fill: $color-blind-red;
        }
    }

    .is-switch.is-purple &,
    .is-move.is-purple &,
    .is-ship.is-purple & {
        fill: $color-purple;

        .is-colorblind & {
            fill: $color-blind-purple;
        }
    }

    .is-switch.is-orange &,
    .is-move.is-orange &,
    .is-ship.is-orange & {
        fill: $color-orange;

        .is-colorblind & {
            fill: $color-blind-orange;
        }
    }

    .is-switch.is-green &,
    .is-move.is-green &,
    .is-ship.is-green & {
        fill: $color-green;

        .is-colorblind & {
            fill: $color-blind-green;
        }
    }
}