@import 'config';

.tile-icon {
    pointer-events: none;
    
    .is-switch.is-red &,
    .is-move.is-red & {
        fill: $color-red;
    }

    .is-switch.is-purple &,
    .is-move.is-purple & {
        fill: $color-purple;
    }

    .is-switch.is-orange &,
    .is-move.is-orange & {
        fill: $color-orange;
    }

    .is-switch.is-green &,
    .is-move.is-green & {
        fill: $color-green;
    }

    .is-ship.is-red & {
        fill: $color-red;
    }

    .is-ship.is-purple & {
        fill: $color-purple;
    }

    .is-ship.is-orange & {
        fill: $color-orange;
    }

    .is-ship.is-green & {
        fill: $color-green;
    }
}