@import 'config';

.tile-background {
    fill: $color-ground;
    stroke: $color-dark-ground;
    @extend %no-highlight;

    &.is-water {
        fill: $color-water;
        stroke: $color-dark-water;

        .is-playable &:hover {
            fill: $color-dark-water;
        }
    }
    
    .is-playable & {
        cursor: pointer;
    }

    .is-playable &:hover {
        fill: $color-dark-ground;
    }

    .is-selected > .is-switch & {
        fill: $color-grey !important;
    }

    .is-red & {
        fill: $color-red;
        stroke: $color-dark-red;

        .is-playable &:hover {
            fill: $color-dark-red;
        }

        .is-selected & {
            fill: $color-dark-red;
        }
    }

    .is-purple & {
        fill: $color-purple;
        stroke: $color-dark-purple;

        .is-playable &:hover {
            fill: $color-dark-purple;
        }

        .is-selected & {
            fill: $color-dark-purple;
        }
    }

    .is-orange & {
        fill: $color-orange;
        stroke: $color-dark-orange;

        .is-playable &:hover {
            fill: $color-dark-orange;
        }

        .is-selected & {
            fill: $color-dark-orange;
        }
    }

    .is-green & {
        fill: $color-green;
        stroke: $color-dark-green;

        .is-playable &:hover {
            fill: $color-dark-green;
        }

        .is-selected & {
            fill: $color-dark-green;
        }
    }

    .is-switch & {
        fill: $color-dark-grey;
        stroke: $color-black;

        .is-playable &:hover {
            fill: $color-grey;
        }
    }
}