@import 'config';

.tile-text {
    font-size: 80px;
    font-weight: bold;
    fill: $color-black;
    dominant-baseline: central;
    text-anchor: middle;
    pointer-events: none;
    user-select: none;

    .is-move.is-red & {
        fill: $color-red;

        .is-colorblind & {
            fill: $color-blind-red;
        }
    }

    .is-ship.is-red & {
        fill: $color-dark-red;

        .is-colorblind & {
            fill: $color-blind-red;
        }
    }

    .is-move.is-purple & {
        fill: $color-purple;

        .is-colorblind & {
            fill: $color-blind-purple;
        }
    }

    .is-ship.is-purple & {
        fill: $color-dark-purple;

        .is-colorblind & {
            fill: $color-blind-purple;
        }
    }

    .is-move.is-orange & {
        fill: $color-orange;

        .is-colorblind & {
            fill: $color-blind-orange;
        }
    }

    .is-ship.is-orange & {
        fill: $color-dark-orange;

        .is-colorblind & {
            fill: $color-blind-orange;
        }
    }

    .is-move.is-green & {
        fill: $color-green;

        .is-colorblind & {
            fill: $color-blind-green;
        }
    }

    .is-ship.is-green & {
        fill: $color-dark-green;

        .is-colorblind & {
            fill: $color-blind-green;
        }
    }
}