$breakpoints: (
    width: (
        tablet: 600px,
        tabletXL: 720px,
        desktop: 1024px,
        desktopXL: 1400px,
    ),
    height: (
        small: 500px,
        medium: 768px,
    ),
);