$color-black: #000000;
$color-grey: #666666;
$color-white: #ffffff;
$color-red: #ff7f7f;
$color-blue: #337bff;
$color-orange: #ffc04d;
$color-green: #daff00;

$color-black-transparent: rgba(0, 0, 0, 0.5);

$color-ground: #fbebd4;
$color-water: #bfefff;

$color-dark-ground: darken($color: $color-ground, $amount: 15);
$color-dark-water: darken($color: $color-water, $amount: 15);

$color-dark-red: darken($color: $color-red, $amount: 25);
$color-dark-blue: darken($color: $color-blue, $amount: 25);
$color-dark-orange: darken($color: $color-orange, $amount: 25);
$color-dark-green: darken($color: $color-green, $amount: 25);