@import '../../styles/styles';

.form-text-field {
    display: flex;
    flex-direction: column;

    &.is-disabled {

        > .label,
        > .remark {
            color: $color-light-grey;
        }

        > input {
            border-color: $color-light-grey;
            cursor: default;
        }
    }

    > .label {
        font-weight: bold;
        margin-bottom: 6px;
    }

    > input {
        border: 1px solid $color-black;
        border-radius: 4px;
        padding: 10px;
        font-size: 15px;
        background: none;
        outline: none;
        cursor: text;

        &:focus {
            padding: 9px;
            border-width: 2px;
        }
    }

    &.has-error > input {
        border-color: $color-dark-red;
    }

    > .remark,
    > .error {
        width: 100%;
        margin-top: 5px;
        font-size: 12px;
    }

    > .error {
        color: $color-dark-red;
    }
}