@import 'config';

.board-tile {
    
    > .board-tile-background {
        fill: $color-ground;
        stroke: $color-ground-dark;
        cursor: pointer;
    
        &:hover {
            fill: $color-ground-dark;
        }
    
        &.is-water {
            fill: $color-water;
            stroke: $color-water-dark;
    
            &:hover {
                fill: $color-water-dark;
            }
        }
    }
    
    > .board-tile-text {
        font-size: 80px;
        font-weight: bold;
        fill: $color-black;
        dominant-baseline: central;
        text-anchor: middle;
        pointer-events: none;
    }
}