@import 'config';

#dash {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

    @include mq(width, desktop) {
        width: 40%;
        margin-bottom: 0;
    }
}