@import 'config';

$padding-vertical: 20px;
$padding-horizontal: 24px;

.dialog {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    padding: 0 $padding-horizontal;
    background: $color-white;
    border-radius: 4px;
    @extend %google-box-shadow;

    > .headline {
        font-size: 32px;
        font-weight: bold;
        padding: $padding-vertical 0;
    }

    > .content {
        flex: 1;
        
        > p {
            font-size: 22px
        }
    }

    > .buttons {
        display: flex;
        justify-content: flex-end;
        padding: $padding-vertical 0;
    }

    > .icon-close {
        position: absolute;
        top: $padding-vertical;
        right: $padding-horizontal;
        cursor: pointer;
    }
}