@import 'config';

$padding-vertical: 20px;
$padding-horizontal: 24px;

.dialog {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //width: 50%;
    height: 50%;
    padding: $padding-vertical $padding-horizontal;
    background: $color-white;
    border-radius: 4px;
    @extend %google-box-shadow;

    > .headline {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    > .content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    > .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 12px;

        > *:not(:first-child) {
            margin-left: 8px;
        }
    }

    > .icon-close {
        position: absolute;
        top: $padding-vertical;
        right: $padding-horizontal;
        width: 30px;
        height: 30px;
        cursor: pointer;
        fill: $color-black;

        &:hover {
            fill: $color-grey;
        }
    }
}