@import 'config';

.dialog--tile-choice {

    > .content {
        
        > .text {
            margin-bottom: 12px;

            > p {
                font-size: 20px;
            }
        }

        > .content {
            @extend %center;
            flex-direction: column;
            flex: 1;
        }
    }
}