@import 'config';

$height-top: 0px;
$height-bottom: 80px;
$margin-bottom: 15px;

#grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    > #top,
    > #bottom {
        @extend %center;
        width: 100%;
    }

    > #top {
        height: $height-top;
    }

    > #bottom {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: $height-bottom;
        margin-bottom: $margin-bottom;
    }

    > #center {
        @extend %center;
        width: 100%;
        height: calc(100% - #{$height-top} - #{$height-bottom} - #{$margin-bottom});
    }
}