@import 'config';

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    @include mq(width, tablet) {
        flex-wrap: nowrap;
    }

    #bottom & {

        @include mq(width, desktop) {
            width: 60%;
        }
    }
}