@import 'config';

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    #dialog--tile-choice & {
        flex-wrap: wrap;

        @include mq(width, tablet) {
            flex-wrap: nowrap;
            height: 150px;
        }
    }
    
    #bottom & {
        width: auto;
        margin-right: auto;
        padding: 0 30px;
    }
}