@import 'config';

$spacing: 12px;

.player-tile {
    margin-bottom: $spacing;

    @include mq(width, desktop) {
        margin-bottom: 0;
    }

    &:not(:last-child) {
        margin-right: $spacing;
    }

    #dialog--tile-choice & {
        width: 75%;

        @include mq(width, tablet) {
            width: auto;
            height: 100px;
        }

        @include mq(width, desktop) {
            height: 150px;
        }

        &:not(:last-child) {
            margin-right: 0;

            @include mq(width, tablet) {
                margin-right: $spacing;
            }
        }
    }

    #bottom .hand & {
        height: 100px;

        @include mq(width, desktop) {
            height: 120px;
        }
    }
}