@import 'config';

$spacing: 12px;

.player-tile {

    #dialog--tile-choice & {
        margin-bottom: $spacing;
        width: 75%;

        @include mq(width, tablet) {
            width: auto;
            height: 100%;
            margin-bottom: 0;
        }

        &:not(:last-child) {

            @include mq(width, tablet) {
                margin-right: $spacing;
            }
        }
    }

    #bottom .hand & {
        height: 100%;

        &:not(:last-child) {
            margin-right: $spacing;
        }
    }
}