@import 'config';

.tile {
    fill: $color-ground;
    stroke: $color-black;
    stroke-width: 12;
    cursor: pointer;

    &:hover {
        fill: darken($color: $color-ground, $amount: 15);
    }

    &.tile--water {
        fill: $color-water;

        &:hover {
            fill: darken($color: $color-water, $amount: 15);
        }
    }
}