@import 'config';

.tile-background {
    fill: $color-ground;
    stroke: $color-dark-ground;
    @extend %no-highlight;
    
    &.is-playable {
        cursor: pointer;
    }

    &:hover.is-playable {
        fill: $color-dark-ground;
    }

    &.is-water {
        fill: $color-water;
        stroke: $color-dark-water;

        &:hover.is-playable {
            fill: $color-dark-water;
        }
    }

    &.is-red {
        fill: $color-red;
        stroke: $color-dark-red;

        &:hover.is-playable {
            fill: $color-dark-red;
        }

        .is-selected & {
            fill: $color-dark-red;
        }
    }

    &.is-blue {
        fill: $color-blue;
        stroke: $color-dark-blue;

        &:hover.is-playable {
            fill: $color-dark-blue;
        }

        .is-selected & {
            fill: $color-dark-blue;
        }
    }

    &.is-orange {
        fill: $color-orange;
        stroke: $color-dark-orange;

        &:hover.is-playable {
            fill: $color-dark-orange;
        }

        .is-selected & {
            fill: $color-dark-orange;
        }
    }

    &.is-green {
        fill: $color-green;
        stroke: $color-dark-green;

        &:hover.is-playable {
            fill: $color-dark-green;
        }

        .is-selected & {
            fill: $color-dark-green;
        }
    }
}