@import 'config';

.tile-background {
    fill: $color-ground;
    stroke: $color-dark-ground;
    
    &:not(.is-taken) {
        cursor: pointer;
    }

    &:hover:not(.is-taken) {
        fill: $color-dark-ground;
    }

    &.is-water {
        fill: $color-water;
        stroke: $color-dark-water;

        &:hover:not(.is-taken) {
            fill: $color-dark-water;
        }
    }

    &.is-red {
        fill: $color-red;
        stroke: $color-dark-red;

        &:hover:not(.is-taken) {
            fill: $color-dark-red;
        }

        .is-selected & {
            fill: $color-dark-red;
        }
    }

    &.is-purple {
        fill: $color-purple;
        stroke: $color-dark-purple;

        &:hover:not(.is-taken) {
            fill: $color-dark-purple;
        }

        .is-selected & {
            fill: $color-dark-purple;
        }
    }

    &.is-gold {
        fill: $color-gold;
        stroke: $color-dark-gold;

        &:hover:not(.is-taken) {
            fill: $color-dark-gold;
        }

        .is-selected & {
            fill: $color-dark-gold;
        }
    }

    &.is-green {
        fill: $color-green;
        stroke: $color-dark-green;

        &:hover:not(.is-taken) {
            fill: $color-dark-green;
        }

        .is-selected & {
            fill: $color-dark-green;
        }
    }
}