@import '../../styles/styles';

.form {

    > .fields {
        display: flex;
        flex-direction: column;
        overflow: auto;

        @include mq(width, tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        > .form-text-field {
            flex-basis: 100%;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            @include mq(width, tablet) {
                flex-basis: calc(50% - 10px);
            }
        }
    }
    
    > .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;

        > .button:not(:first-child) {
            margin-left: 8px;
        }
    }
}