@import 'config';

#score-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    margin-right: auto;
    width: 100%;

    @include mq(width, tablet) {
        width: auto;
        padding-left: 30px;
        padding-right: 45px;
    }
}