@import 'config';

.score-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%; // FIXME: when less than 4 players in game
    opacity: 0.25;

    &.is-playing {
        opacity: 1;
    }

    &:not(:last-child) {
        @include mq(width, tablet) {
            margin-right: 30px;
        }
    }

    &.is-red > .username {
        color: $color-dark-red;

        .is-colorblind & {
            color: $color-blind-dark-red;
        }
    }

    &.is-purple > .username {
        color: $color-dark-purple;

        .is-colorblind & {
            color: $color-blind-dark-purple;
        }
    }

    &.is-orange > .username {
        color: $color-dark-orange;

        .is-colorblind & {
            color: $color-blind-dark-orange;
        }
    }

    &.is-green > .username {
        color: $color-dark-green;

        .is-colorblind & {
            color: $color-blind-dark-green;
        }
    }

    > .username {
        width: 100%;
        font-size: 16px;
        text-align: center;
        margin-bottom: 6px;
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        //text-decoration: underline;
    }

    > .score {
        width: 60px;
        table-layout: fixed;

        td {
            text-align: center;
            vertical-align: middle;

            > .icon {
                height: 20px;
            }
    
            > .value {
                user-select: none;
    
                &.is-highest {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
}