@import 'config';

.score-player {
    width: 60px;

    &:not(:last-child) {
        margin-right: 30px;
    }

    > .username {
        width: 100%;
        font-size: 16px;
        text-align: center;
        margin-bottom: 6px;
        user-select: none;
    }

    > .score {
        width: 100%;
        table-layout: fixed;

        td {
            text-align: center;
            vertical-align: middle;

            > .icon {
                height: 20px;
            }
    
            > .value {
                user-select: none;
    
                &.is-highest {
                    font-weight: bold;
                }
            }
        }
    }
}