@import 'config';

#dialog--error {

    > .text {

        > .explanation {
            color: $color-dark-red;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}